<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LocationServlet</servlet-name>
  	<display-name>LocationServlet</display-name>
  	<description></description>
  	<servlet-class>controller.LocationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MovieServlet</servlet-name>
  	<display-name>MovieServlet</display-name>
  	<description></description>
  	<servlet-class>controller.MovieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TheatreServlet</servlet-name>
  	<display-name>TheatreServlet</display-name>
  	<description></description>
  	<servlet-class>controller.TheatreServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>DateTimeServlet</servlet-name>
  	<display-name>DateTimeServlet</display-name>
  	<description></description>
  	<servlet-class>controller.DateTimeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SeatAvailabilityServlet</servlet-name>
  	<display-name>SeatAvailabilityServlet</display-name>
  	<description></description>
  	<servlet-class>controller.SeatAvailabilityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TicketPriceServlet</servlet-name>
  	<display-name>TicketPriceServlet</display-name>
  	<description></description>
  	<servlet-class>controller.TicketPriceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookingDetailServlet</servlet-name>
  	<display-name>BookingDetailServlet</display-name>
  	<description></description>
  	<servlet-class>controller.BookingDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LocationServlet</servlet-name>
  	<url-pattern>/location</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MovieServlet</servlet-name>
  	<url-pattern>/movie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TheatreServlet</servlet-name>
  	<url-pattern>/theatre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DateTimeServlet</servlet-name>
  	<url-pattern>/dateTime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SeatAvailabilityServlet</servlet-name>
  	<url-pattern>/seatAvailabilty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TicketPriceServlet</servlet-name>
  	<url-pattern>/ticketPrice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingDetailServlet</servlet-name>
  	<url-pattern>/bookingDetail</url-pattern>
  </servlet-mapping>
</web-app>
