.main
{
	width:350px;
	height:650px;
	border:2px solid black;
	padding: 10px;
	background-color: #d9d9d9;
	border-radius:20px;
	margin: auto;
	margin-top: 150px;
	padding: auto;
}
input,select
{
	width: 90%;
	height: 30px;
	margin: 20px;
	border-radius:5px;
	margin: 15px;
}
button
{
	width: 40%;
	height: 30px;
	border-radius:5px;
	margin: 15px;
}
button:hover
{
	background-color: #999999;
}
h1{
	text-align: center;
}